/*Estilos da página index.html*/

/*Sintaxe da class = .p1
Sintaxe do id = #p1*/

body {
    background-image: url(../img/fundo.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu li {
    display: inline;
}


/*Estilos da página caracteristicas.html*/